.navbar{
    background: #000000a2;
    height: 100px;
    width: 60%;
    position: fixed;
    z-index: 999999;
    border-bottom-right-radius: 50px;
}

.logo{
    width: 130px;
    height: 130px;
}


.navbar a{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 400;
}

.navbar a:hover{
    color: #E8983E;
    font-size: 1.5em;
}



.home{
    height: 600px;
    width: 100%;
    background-color: #235C9D;
}

.row-md-6{
    height: 400px;
    margin-top: 100px;
}

.logo-home{
    width: 700px;
    height: 700px;
}

.img-home{
    width: 500px;
    height: 400px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: solid 5px #55A9DC;
}


.title{
    color: white;
    font-size: 50px;
    font-style: bold;
}


.keunggulan{
    height: 600px;
    width: 100%;
    background-color: white;
}

.title-keunggulan{
    color: #235C9D;
    font-style: bold;
    font-size: 2em;
}

.col{
    height: 200px;
    width: 30%;
}

.check{
    width: 40px;
    height: 40px;
}

h4{
    text-align: center;
}

.container-about{
    width: 100%;
    height: 850px;
    background-color: #E8983E;
}

.-about-left{
    width: 70%;
    height: 400px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.carousel{
    width: 100%;
}


.about-right{
    width: 50%;
    height: 550px;
}

.title-about{
    color:#235C9D;
    font-size: 2.5em;
    font-weight: bold;
}

.text-about-us{
    color: white;
    font-size: 1.5em;
}

.title-about-us{
    color: #7E7E7E;
    font-size: 2em;
    font-weight: bold;
}


.output{
    height: 500px;
    width: 100%;
    background-color: white;
}

.title-output{
    color: #E8983E;
    font-style: bold;
}

.relawan{
    height: 850px;
    width: 100%;
    background-color: #55A9DC;
}

.col-relawan{
    background-color: white;
}


.card-relawan{
    background-color: rgba(255, 255, 255, 0.758);
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
}

.relawan-name{
    color: #235C9D;
    font-size: 1.5em;
    font-weight: 700;
}

.title-relawan{
    color: #7E7E7E;
    font-size: 20px;
}

.contact{
    height: 102vh;
    width: 100%;
    background-color: white;
}



.card-title-kontak{
    height: 10%;
}



.card-maps{
    height: 50%;
    width: 100%;
}

.kotak-bottom{
    height: 40%;
    width: 100%;
    
}


.card-kontak{
    height: 100%;
    width: 50%;
}

.iframe{
    width: 40%;
    height: 100%;
}

.row-card{
    height: 33%;
    width: 100%;
}

.title-kontak{
    color: #7E7E7E;
    font-size: 2em;
    font-weight: bold;
}

.location{
    height: 100%;
    width: 40%;
}

.card-lokasi{
    width: 100%;
    height: 90%;
    padding: 20px;
    background-color: #8CC63F;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.footer{
    height: 200px;
    width: 100%;
    background-color: #D9D9D9;
}

.logo-footer{
    height: 150px;
    width: 150px;
}


@media screen {
    
}